<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Classification</th>
            <th>Duration</th>
            <th>Genres</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of movies">
            <td>{{ movie.Id }}</td>
            <td>{{ movie.Title }}</td>
            <td>{{ movie.Description }}</td>
            <td>{{ movie.Classification }}</td>
            <td>{{ movie.Duration }}</td>
            <td>{{ movie.Genres }}</td>
            <td class="pull-left">             
                <button type="button"
                        id="editButton-row-{{i + 1}}"
                        class="btn btn-primary"
                        (click)="editMovie(movie)">Edit</button>
                <button type="button"
                        id="deleteButton-row-{{i + 1}}"
                        class="btn btn-danger"
                        (click)="deleteMovie(movie)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
